/* The side navigation menu */
html{
    font-family: 'Inconsolata', monospace;
    color: rgb(202, 238, 197);
    background-color: rgb(6, 6, 6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(202, 238, 197);
    background-color: rgb(6, 6, 6) !important;
}

.active {
    background-color: rgb(43, 49, 42)
}

header {
    /*left: 0px;*/
    top: 0px;

    padding: 10px 10%;
    background-color: rgb(6, 6, 6);
    position: fixed;
    align-content: center;
    
    width: 100%;
}

.navbar {
    overflow: hidden;
}

.navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(6, 6, 6);
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    display: inline;
    padding-right: 50;
}

.hide { display:none; }

.navbar a:link {
    color: rgb(202, 238, 197);
}

.navbar a:visited {
    color: rgb(202, 238, 197);
}

/* Links on mouse-over */
.navbar a:hover {
    color: rgb(202, 238, 197);
    background-color: rgba(0, 175, 9, 0.342);
}

.navbar a.logo:hover {
    background-color: rgb(6, 6, 6);
}


.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown:hover {
    background-color: rgba(0, 175, 9, 0.342);
    height: 90px;
}

.dropdown:hover .dropdown-options {
    display: block;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    /*margin-left: 200px;*/
    margin-top: 100px;
    padding: 90px;
    /*height: 1000px;*/
}
    
/* On screens that are less than 700px wide, make the sidebar into a topbar*/
@media screen and (max-width: 700px) {
    /*.navbar {
    width: 100%;
    position: fixed;
    background-color: rgb(6, 6, 6);
    }
    .navbar a {float: left;}
    .navbar ul {display: list-item flow;}
    .navbar a.logo {padding: center;}*/
    .content {margin-left: 0;  width: 50%;}
}
    
/* On screens that are less than 500px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 500px) {
    .navbar {
        display: inline-block;
    }

    .navbar img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }

    .navbar a {
    text-align: center;
    float: none;
    background-color: rgb(6, 6, 6);
    }
    
    .navbar ul {
        text-align: center;
        display: flex;
    }

    .content {
        margin-top: 90;
        width: 50%;
    }
}