/* The side navigation menu */
html{
    font: 1em Arial;
    color: rgb(202, 238, 197);
    background-color: rgb(6, 6, 6);
}

header {
    background-color: rgb(6, 6, 6);
    position: fixed;
    width: 100%;
    padding: 0;
    top: 0;
}

.navbar {
    overflow: hidden;
}

.navbar li {
    list-style-type: none;
    float: left;
    display: block;
    color: rgb(202, 238, 197);
    margin-top: 0%;
    /*padding: 10px;*/
    text-decoration: none;
}
    
/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: rgb(202, 238, 197);
    margin-bottom: 18px;
    padding: 10px;
    text-decoration: none;
}

/* Active/current link */
.navbar a.active {
    background-color: rgba(0, 255, 13, 0.342);
}

.navbar a.logo:hover {
    background-color: rgb(6, 6, 6);
}

/* Links on mouse-over */
.navbar a.inactive:hover {
    background-color: rgba(0, 175, 9, 0.342);
}
    
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 200px;
    padding: 40px;
    height: 1000px;
}
    
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .navbar {
    width: 100%;
    position: fixed;
    
    background-color: rgb(6, 6, 6);
    }
    .navbar a {float: left;}
    .navbar li {margin: center;}
    .navbar a.logo {padding: center;}
    div.content {margin-left: 0;}
}
    
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .navbar a {
    text-align: center;
    float: none;
    background-color: rgb(6, 6, 6);
    }
}


/*.twitter-timeline {
    position: relative;
    float: right;
}*/